.hero {
    background-image: url("../assets/factory/client_hero.jpg");
}

.clients {
    display: flex;
    flex-wrap: wrap;
    margin-block: 1rem;
    height: auto;
    background-color: var(--color-bg-soft);
}

.client_card {
    padding: 1rem;
}

.client_logo {
    width: 6rem;
}

@media (max-width: 1024px) {
    .clients {
        justify-content: center;
        gap: 0.5rem;
    }

    .client_card {
        padding: 0.75rem;
    }
}

@media (max-width: 768px) {
    .clients {
        justify-content: center;
    }

    .client_card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .client_logo {
        width: 5.5rem;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .clients {
        gap: 0;
        justify-content: center;
    }

    .client_card {
        width: 33.333%;
        padding: 0.75rem;
    }

    .client_logo {
        width: 100%;
        max-width: 5rem;
        height: auto;
        object-fit: contain;
    }
}
